<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.1.841" />
  <package id="AutoMapper" version="2.1.267" />
  <package id="Ensure.That" version="0.7.0" />
  <package id="Moq" version="4.0.10827" />
  <package id="NCore" version="0.28.0" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="PineCone" version="2.0.0" />
  <package id="SisoDb" version="12.0.0" />
  <package id="SisoDb.SqlCe4" version="12.0.0" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
</packages>