@model Echo.Web.Areas.Admin.Models.StarCluster

<tr>
	<td>@Html.TextBoxFor(x => x.Name, new { data_bind = "value: name" })</td>
	<td data-bind="with:localCoordinates">@Html.EditorFor(x => x.LocalCoordinates)</td>
	<td></td>
	<td>
		<button data-bind="click:add,visible:id == null">add</button>
		<button data-bind="click:update,visible:id != null">save</button>
	</td>
</tr>

