@using Echo.State
@using Echo.Web.Extensions
@using site.code
@model Echo.Web.Areas.Admin.Models.StarClusterIndex

@{
	ViewBag.Title = "Star Clusters";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Star Clusters</h2>
<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Coordinates</td>
			<td>Size</td>
            <td></td>
		</tr>
	</thead>
	<tbody data-bind="foreach: data">
		<tr>
			<td data-bind="text: name, click: $root.edit"></td>
			<td data-bind="text: localCoordinates"></td>
			<td data-bind="text: size()"></td>
			<td><button data-bind="click: $root.remove">X</button></td>
		</tr>
	</tbody>
	<tfoot data-bind="with:editStarCluster, visible:editStarCluster != null">
		@Html.EditorFor(x => x.NewStarCluster)
	</tfoot>
	<tfoot data-bind="with:newStarCluster, visible:newStarCluster != null">
		@Html.EditorFor(x => x.NewStarCluster)
	</tfoot>
</table>

<script type="text/javascript">
    var starClusters = @Model.StarClusters.ToJson()
</script>

<script type="text/javascript" src="/scripts/_references.js"></script>
<script type="text/javascript" src="/scripts/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/scripts/knockout-2.1.0.debug.js"></script>
<script type="text/javascript" src="/scripts/knockout-postbox.min.js"></script>
<script type="text/javascript" src="/scripts/StarClusters.js"></script>

