@using Echo.State
@using Echo.Web.Extensions
@using site.code
@model Echo.Web.Areas.Admin.Models.StarClusterIndex

@{
	ViewBag.Title = "Star Clusters";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
	td span { width: 100%;float: left; }
</style>

<h2>Star Clusters</h2>
<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Coordinates</td>
			<td>Size</td>
            <td></td>
		</tr>
	</thead>
	<tbody  style="display:none" data-bind="foreach: data, visible: true">
		<tr>
			<td>
				<span data-bind="text: name, click: beginRename, visible: isEditing() != 'name'"></span>
				<div data-bind="visible: isEditing() == 'name'">
					<input type="text" data-bind="value: name" />
					<button class="ok" data-bind="click: rename">OK</button>
					<button class="cancel" data-bind="click: cancel">Cancel</button>
				</div>
			</td>
			<td>
				<span data-bind="text: localCoordinates(), click: beginEditCoords, visible: isEditing() != 'coords'"></span>
				<div data-bind="visible: isEditing() == 'coords'">
					<div class="vector" data-bind="with:localCoordinates">
	                    <input type="text" data-bind="value: x" />
	                    <input type="text" data-bind="value: y" />
                    </div>
					<button class="ok" data-bind="click: editCoords">OK</button>
					<button class="cancel" data-bind="click: cancel">Cancel</button>
				</div>
			</td>
			<td data-bind="text: size()"></td>
			<td><button data-bind="click: $root.remove, visible:!isEditing()">X</button></td>
		</tr>
	</tbody>
	<tfoot data-bind="with:newStarCluster, visible:newStarCluster != null">
		@Html.EditorFor(x => x.NewStarCluster)
	</tfoot>
</table>

<script type="text/javascript">
    var starClusters = @Model.StarClusters.ToJson()
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")

    <script type="text/javascript" src="/scripts/Types/StarClusters.js"></script>
    <script type="text/javascript" src="/scripts/Types/Vector.js"></script>

    <script type="text/javascript" src="/Scripts/ViewModels/VectorViewModel.js"></script>
    <script type="text/javascript" src="StarClusterIndexViewModel.js"></script>
    <script type="text/javascript" src="StarClusterViewModel.js"></script>
}

